<h1><%= @item.name %></h1>
<h3>in <%= link_to @department.name, department_path(@department) %></h3>
<h4>$<%= @item.price %></h4>
<h4>Description</h4>
<p><%= @item.desc %></p>
<%= link_to  "EDIT", edit_department_item_path(@department, @item) %>
<%= link_to  "DELETE", [@department, @item], method: :delete %>
<%= link_to  "BACK", department_items_path(@department) %>